In [1]:
import pandas as pd
import numpy as np
from datetime import datetime , time, date

In [2]:
sms = pd.read_xml("../../Desktop/sms_call/sms-20220925154521.xml")

In [3]:
sms.shape

(16752, 70)

In [4]:
sms.dtypes

protocol        float64
address          object
date              int64
type            float64
subject          object
                 ...
v               float64
account         float64
preview_data    float64
parts           float64
addrs           float64
Length: 70, dtype: object

In [5]:
# convert the date to datetime
sms.date = pd.to_datetime(sms.date)
sms.readable_date = pd.to_datetime(sms.readable_date)

In [6]:
sms.columns

Index(['protocol', 'address', 'date', 'type', 'subject', 'body', 'toa',
       'sc_toa', 'service_center', 'read', 'status', 'locked', 'date_sent',
       'sub_id', 'readable_date', 'contact_name', 'snippet', 'block_type',
       'ct_t', 'source', 'msg_box', 'sub_cs', 'preview_type', 'mx_id',
       'retr_st', 'd_tm', 'exp', 'm_id', 'out_time', 'retr_txt', 'rpt_a',
       'ct_cls', 'timed', 'pri', 'sync_state', 'resp_txt', 'ct_l', 'sim_id',
       'd_rpt', 'marker', 'file_id', '_id', 'preview_data_ts', 'm_type',
       'mx_extension', 'rr', 'favorite_date', 'sub', 'read_status',
       'date_ms_part', 'seen', 'bind_id', 'mx_id_v2', 'advanced_seen',
       'resp_st', 'text_only', 'need_download', 'st', 'retr_txt_cs', 'm_size',
       'mx_status', 'tr_id', 'mx_type', 'deleted', 'm_cls', 'v', 'account',
       'preview_data', 'parts', 'addrs'],
      dtype='object')

In [7]:
sms.loc[:,['body',"contact_name","readable_date"]]

,body,contact_name,readable_date
0,Hi Kunle. Good eve. I wish to engage the furn...,Kunle Neighbour,2013-06-07 20:45:14
1,Ogechi how was it weekend. If you are going to...,Ogechi-Landmark,2013-06-09 19:09:54
2,Is it not better I transfer to him directly?,Ifeanyichukwu Oparah,2013-06-10 13:49:06
3,I need his account pls. At least let him know ...,Ifeanyichukwu Oparah,2013-06-10 13:51:21
4,Yes thanks,Ifeanyichukwu Oparah,2013-06-10 13:55:09
...,...,...,...
16747,None,Mummy,2022-09-16 11:47:20
16748,None,Mummy,2022-09-19 15:11:29
16749,None,Mummy,2022-09-19 15:11:46
16750,None,Mummy,2022-09-19 15:11:57
16751,None,Mummy,2022-09-19 15:12:16

In [8]:
# extract the year, month and day

In [9]:
sms['ymd'] = pd.to_datetime(sms['readable_date']).dt.to_period('D')

In [10]:
df= sms.loc[:,['body',"contact_name","ymd"]]

In [11]:
df.isna().sum()

body            72
contact_name     0
ymd              0
dtype: int64

In [12]:
df = df.dropna()

In [13]:
df

,body,contact_name,ymd
0,Hi Kunle. Good eve. I wish to engage the furn...,Kunle Neighbour,2013-06-07
1,Ogechi how was it weekend. If you are going to...,Ogechi-Landmark,2013-06-09
2,Is it not better I transfer to him directly?,Ifeanyichukwu Oparah,2013-06-10
3,I need his account pls. At least let him know ...,Ifeanyichukwu Oparah,2013-06-10
4,Yes thanks,Ifeanyichukwu Oparah,2013-06-10
...,...,...,...
16725,Refer friends and family to purchase any of ou...,(Unknown),2022-09-23
16726,"Acc: xx3954\nDebit: N5,000.00\nDesc: MB IFO AJ...",(Unknown),2022-09-23
16727,Just in: Certified Formal & Casual Essentials ...,(Unknown),2022-09-24
16728,"Acc: xx3954\nDebit: N4,500.00\nDesc: IFO 20220...",(Unknown),2022-09-25
16729,Your MOD/MyMTNApp recharge bonus will expire o...,(Unknown),2022-09-25

In [14]:
df

,body,contact_name,ymd
0,Hi Kunle. Good eve. I wish to engage the furn...,Kunle Neighbour,2013-06-07
1,Ogechi how was it weekend. If you are going to...,Ogechi-Landmark,2013-06-09
2,Is it not better I transfer to him directly?,Ifeanyichukwu Oparah,2013-06-10
3,I need his account pls. At least let him know ...,Ifeanyichukwu Oparah,2013-06-10
4,Yes thanks,Ifeanyichukwu Oparah,2013-06-10
...,...,...,...
16725,Refer friends and family to purchase any of ou...,(Unknown),2022-09-23
16726,"Acc: xx3954\nDebit: N5,000.00\nDesc: MB IFO AJ...",(Unknown),2022-09-23
16727,Just in: Certified Formal & Casual Essentials ...,(Unknown),2022-09-24
16728,"Acc: xx3954\nDebit: N4,500.00\nDesc: IFO 20220...",(Unknown),2022-09-25
16729,Your MOD/MyMTNApp recharge bonus will expire o...,(Unknown),2022-09-25

In [15]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [16]:
vectorizer = TfidfVectorizer(stop_words='english')

In [17]:
vectorizer.fit_transform(df.body)

<16680x18784 sparse matrix of type '<class 'numpy.float64'>'
	with 231964 stored elements in Compressed Sparse Row format>

In [18]:
vec = vectorizer.fit_transform(df.body)

In [19]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [20]:
df.contact_name = le.fit_transform(df.contact_name)

In [29]:
X = pd.concat([pd.DataFrame(vec),df.contact_name], axis =1).dropna()

# lets experiement with clustering

In [31]:
X

                                                       0  contact_name
0        (0, 17232)\t0.10617554890623825\n  (0, 8809)...         186.0
1        (0, 14811)\t0.36084514311193694\n  (0, 5944)...         236.0
2        (0, 7758)\t0.6965145966721017\n  (0, 17491)\...         147.0
3        (0, 1241)\t0.3912078855523459\n  (0, 14514)\...         147.0
4        (0, 18686)\t0.7905182431037305\n  (0, 17232)...         147.0
...                                                  ...           ...
16675    (0, 10077)\t0.30123123780309424\n  (0, 15765...           0.0
16676    (0, 497)\t0.33784587771433283\n  (0, 5228)\t...           0.0
16677    (0, 10751)\t0.3000204117971295\n  (0, 6553)\...           0.0
16678    (0, 211)\t0.3615320537360505\n  (0, 2261)\t0...           0.0
16679    (0, 2008)\t0.1550778610467614\n  (0, 12216)\...           0.0

[16630 rows x 2 columns]

In [51]:
from sklearn.cluster import KMeans
model = KMeans(n_clusters=5, random_state=42)
clusters = model.fit_predict(vec)

In [52]:
clusters = pd.DataFrame(clusters).rename({0:'clusters'}, axis =1)

In [56]:
clusters
final_df = pd.concat([df,clusters],axis =1).sort_values('clusters').dropna()

In [54]:
clusters.value_counts()

clusters
0           11646
4            1900
3            1387
1            1377
2             370
dtype: int64

In [57]:
final_df

,body,contact_name,ymd,clusters
0,Hi Kunle. Good eve. I wish to engage the furn...,186.0,2013-06-07,0.0
8894,"Dear Client, a password change on your account...",0.0,2019-07-15,0.0
8896,"Good morning. The wiper is 2,000 right ?",245.0,2019-07-15,0.0
8897,Your data balance is 100MB. Dial *200# to buy ...,0.0,2019-07-15,0.0
8898,<#> 2303 is your Bolt activation code.\nWdpiXh...,0.0,2019-07-15,0.0
...,...,...,...,...
14187,Good evening ma. Your appointment is confirmed...,208.0,2021-10-17,4.0
14188,Do the x-ray if necessary,208.0,2021-10-17,4.0
10495,Activation of 1.5GB Monthly Data plan was succ...,0.0,2020-05-26,4.0
10492,"BetaTalk Main Balance: N3861.76, Bonus: N6713....",0.0,2020-05-26,4.0
14179,"Acct: 0038074744\nAmt: 2,550.00 DR \nDesc: -- ...",0.0,2021-10-17,4.0